[Unit]
Description=Minecraft Server
After=network.target

[Service]
Nice=1
KillMode=none
SuccessExitStatus=0 1
WorkingDirectory=%h/Gizmos/minecraft-server-manager
ExecStart=%h/Gizmos/minecraft-server-manager/run-server
ExecStop=%h/Gizmos/minecraft-server-manager/stop-server
KillMode=control-group
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
